.App {
  text-align: left;
  background-color: #D73161;
  color: white;
  font-weight: 100;
}

.navheading{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-style:initial;

}

.navcolor {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-style: initial;
  color: black; 
  font-size: larger;
  transition: color 0.5s, background-color 0.5s; /* Added background-color transition */
}
.navcolor:hover,
.navcolor:focus {
  background-color: white;
  color: #D73161;
font-weight: bolder;
  border-radius: 20px;
  outline: none; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}